*{
    margin: 0;
    padding: 0;
}

.box-body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    width: 100vw;
    height: 100vh;

}

.box-container {
    display: inline-block;
}

.imgSvg {
    padding: 32px 22px;
}

.box-title {
    font-size: 24px;
    padding: 5px;
}

.box-input {
    border: 1px solid #d1d5da;
    border-radius: 5px;
    margin-top: 14px;
    padding: 20px;
    width: 266px;
    height: 186px;
    background-color: #f6f8fa;
    display: inline-block;
}
    
.form-input {
    margin: 10px 5px;
}

.username, .password {
    font-size: 14px;
    text-align: left;
    margin-top:  12px;
}

.forgot-password {
    font-size: 12px;
}

.inputuser, .inputpassword {
    width: 252px;
    height: 24px;
    border-radius: 5px;
    margin: 8px 0 0 0;
}

.title-password {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(3, 125, 224);
}

.button {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    height: 32px;
    padding: 5px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2ea44f;
}

.newAccount {
    font-size: 12px;
    justify-content: center;
    border: 1px solid #d1d5da;
    border-radius: 5px;
    margin: 16px 0 10px;
    padding: 15px 20px;
    width: 268px;
}

.footer-bar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}